.row
  .col-sm-6
    %h4 Select brand
    %select#j-brands.form-control
      %option
      - @brands.each do |brand|
        %option{value:brand[:uri]}=brand[:name]


    #j-select_model_wrrapper.hide
      %h4 Select model
      %select#j-models.form-control
        %option

    #j-model_info_wrrapper.hide
      %h4 Model info
      #j-results.select-results

  .col-sm-6
    %h4 Search
    =form_for :search, url: search_path, html: {class:'form-inline', id:'j-search_form'}, remote:true do |f|
      .form-group
        =f.text_field :value, name: "value", class:"form-control"
      .form-group
        =f.submit "Search", class: "btn btn-default", id: "j_search_subimt"
    #j-search_results

